In [12]:
%matplotlib inline

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy import stats

'Malignant Neoplasms (Cancer: C00-C97)':'MN', <br>
'Diseases of Heart (I00-I09, I11, I13, I20-I51)':'DH',<br>
'All Other Causes':'AOC',<br>
'Influenza (Flu) and Pneumonia (J09-J18)':'IP',<br>
'Diabetes Mellitus (E10-E14)':'D',<br>
'Cerebrovascular Disease (Stroke: I60-I69)':'CD',<br>
'Chronic Lower Respiratory Diseases (J40-J47)':'LR',<br>
'Accidents Except Drug Posioning (V01-X39, X43, X45-X59, Y85-Y86)':'AEDP',<br>
'Essential Hypertension and Renal Diseases (I10, I12)':'HR',<br>
'Human Immunodeficiency Virus Disease (HIV: B20-B24)':'HIV',<br>
'Mental and Behavioral Disorders due to Accidental Poisoning and Other Psychoactive Substance Use (F11-F16, F18-F19, X40-X42, X44)':'MBD',<br>
'Intentional Self-Harm (Suicide: X60-X84, Y87.0)':'IH',<br>
"Alzheimer's Disease (G30)":'AD',<br>
'Chronic Liver Disease and Cirrhosis (K70, K73)':'CLD',<br>
'Certain Conditions originating in the Perinatal Period (P00-P96)':'PP',<br>
'Assault (Homicide: Y87.1, X85-Y09)':'As',<br>
'Nephritis, Nephrotic Syndrome and Nephrisis (N00-N07, N17-N19, N25-N27)':'NNN',<br>
'Septicemia (A40-A41)':'S',<br>
'Congenital Malformations, Deformations, and Chromosomal Abnormalities (Q00-Q99)':'CA',<br>
'Viral Hepatitis (B15-B19)':'VH',<br>
'Insitu or Benign / Uncertain Neoplasms (D00-D48)':'BN',<br>
'Aortic Aneurysm and Dissection (I71)':'AAD',<br>
'Atherosclerosis (I70)':'At',<br>
'Mental and Behavioral Disorders due to Use of Alcohol (F10)':'BA',<br>
'Tuberculosis (A16-A19)':'T',<br>
"Parkinson's Disease (G20)":'P'<br>

In [16]:
limpo = pd.read_csv('limpo.csv')
limpo

    Causa  Sexo                  Etnia   Mortes
0      IP     F               Hispanic     1710
1    AEDP     F               Hispanic      437
2    AEDP     M     White Non-Hispanic     2206
3      CD     M               Hispanic     1132
4      As     M     Black Non-Hispanic     1968
..    ...   ...                    ...      ...
157    LR     F  Other Race/ Ethnicity        6
158    IH     M  Other Race/ Ethnicity       11
159     S     F               Hispanic       49
160    AD     F     Not Stated/Unknown        8
161    PP     M  Other Race/ Ethnicity        8

[162 rows x 4 columns]